@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9882 0.0069 88.6415);
  --foreground: oklch(0.2972 0 0);
  --card: oklch(0.9393 0.0137 78.2613);
  --card-foreground: oklch(0.2972 0 0);
  --popover: oklch(0.9393 0.0137 78.2613);
  --popover-foreground: oklch(0.2972 0 0);
  --primary: oklch(0.2972 0 0);
  --primary-foreground: oklch(0.9882 0.0069 88.6415);
  --secondary: oklch(0.9161 0.0212 79.0896);
  --secondary-foreground: oklch(0.2972 0 0);
  --muted: oklch(0.9003 0.0196 80.1135);
  --muted-foreground: oklch(0.5313 0 0);
  --accent: oklch(0.8716 0.0237 75.8382);
  --accent-foreground: oklch(0.2972 0 0);
  --destructive: oklch(0.5054 0.1905 27.5181);
  --destructive-foreground: oklch(0.9882 0.0069 88.6415);
  --border: oklch(0.8104 0.0213 81.7716);
  --input: oklch(0.9161 0.0212 79.0896);
  --ring: oklch(0.6729 0.0167 77.0203);
  --chart-1: oklch(0.6529 0.0365 65.6593);
  --chart-2: oklch(0.5286 0.0305 54.1604);
  --chart-3: oklch(0.7681 0.0305 64.0100);
  --chart-4: oklch(0.8556 0.0221 76.5109);
  --chart-5: oklch(0.9362 0.0137 78.2611);
  --sidebar: oklch(0.9393 0.0137 78.2613);
  --sidebar-foreground: oklch(0.2972 0 0);
  --sidebar-primary: oklch(0.2972 0 0);
  --sidebar-primary-foreground: oklch(0.9882 0.0069 88.6415);
  --sidebar-accent: oklch(0.8716 0.0237 75.8382);
  --sidebar-accent-foreground: oklch(0.2972 0 0);
  --sidebar-border: oklch(0.8104 0.0213 81.7716);
  --sidebar-ring: oklch(0.6729 0.0167 77.0203);
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #6C6C6C;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 42.3529% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 42.3529% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 42.3529% / 0.10), 0px 1px 2px -1px hsl(0 0% 42.3529% / 0.10);
  --shadow: 0px 2px 4px 0px hsl(0 0% 42.3529% / 0.10), 0px 1px 2px -1px hsl(0 0% 42.3529% / 0.10);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 42.3529% / 0.10), 0px 2px 4px -1px hsl(0 0% 42.3529% / 0.10);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 42.3529% / 0.10), 0px 4px 6px -1px hsl(0 0% 42.3529% / 0.10);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 42.3529% / 0.10), 0px 8px 10px -1px hsl(0 0% 42.3529% / 0.10);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 42.3529% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.3327 0.0165 55.7476);
  --foreground: oklch(0.9549 0.0076 61.4515);
  --card: oklch(0.3798 0.0171 52.9493);
  --card-foreground: oklch(0.9549 0.0076 61.4515);
  --popover: oklch(0.3798 0.0171 52.9493);
  --popover-foreground: oklch(0.9549 0.0076 61.4515);
  --primary: oklch(0.9549 0.0076 61.4515);
  --primary-foreground: oklch(0.3327 0.0165 55.7476);
  --secondary: oklch(0.4404 0.0216 59.0454);
  --secondary-foreground: oklch(0.9549 0.0076 61.4515);
  --muted: oklch(0.4173 0.0208 61.4976);
  --muted-foreground: oklch(0.6767 0.0185 61.8261);
  --accent: oklch(0.4942 0.0209 59.1424);
  --accent-foreground: oklch(0.9549 0.0076 61.4515);
  --destructive: oklch(0.5771 0.2152 27.3250);
  --destructive-foreground: oklch(0.9549 0.0076 61.4515);
  --border: oklch(0.6074 0.0219 64.9360);
  --input: oklch(0.4404 0.0216 59.0454);
  --ring: oklch(0.7263 0.0190 59.3735);
  --chart-1: oklch(0.9362 0.0137 78.2611);
  --chart-2: oklch(0.8556 0.0221 76.5109);
  --chart-3: oklch(0.7681 0.0305 64.0100);
  --chart-4: oklch(0.5286 0.0305 54.1604);
  --chart-5: oklch(0.6529 0.0365 65.6593);
  --sidebar: oklch(0.3798 0.0171 52.9493);
  --sidebar-foreground: oklch(0.9549 0.0076 61.4515);
  --sidebar-primary: oklch(0.9549 0.0076 61.4515);
  --sidebar-primary-foreground: oklch(0.3327 0.0165 55.7476);
  --sidebar-accent: oklch(0.4942 0.0209 59.1424);
  --sidebar-accent-foreground: oklch(0.9549 0.0076 61.4515);
  --sidebar-border: oklch(0.6074 0.0219 64.9360);
  --sidebar-ring: oklch(0.7263 0.0190 59.3735);
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #2D2D2D;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 17.6471% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 17.6471% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 17.6471% / 0.10), 0px 1px 2px -1px hsl(0 0% 17.6471% / 0.10);
  --shadow: 0px 2px 4px 0px hsl(0 0% 17.6471% / 0.10), 0px 1px 2px -1px hsl(0 0% 17.6471% / 0.10);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 17.6471% / 0.10), 0px 2px 4px -1px hsl(0 0% 17.6471% / 0.10);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 17.6471% / 0.10), 0px 4px 6px -1px hsl(0 0% 17.6471% / 0.10);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 17.6471% / 0.10), 0px 8px 10px -1px hsl(0 0% 17.6471% / 0.10);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 17.6471% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@layer base {
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50 font-sans;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
  body {
    @apply bg-background text-foreground min-h-screen overscroll-none font-sans antialiased;
  }

  html {
    @apply scroll-smooth;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
